@model Orbicode.Models.Food

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<table class="table">
    <thead>
        <tr>
            <th>Naziv jela:</th>
            <th>Cijena:</th>
            <th>Restoran:</th>
        </tr>
        
    </thead>
    <tr>
        <td>@Model.naziv</td>
        <td>@Model.cijena</td>
        <td>@Model.restoran</td>
    </tr>
</table>